{% extends 'shop/basic.html' %}
{% block title %} About Us. {% endblock %}
{% block body %}




<div class="jumbotron">
  <h1 class="display-4">About Us</h1>
  <p class="lead">Customer's satisfaction is Foremost In Shopify.</p>
  <hr class="my-4">
  <p>

  Shopify was founded in October 2019 by Mohit Yadav ,who were both alumni of the Amity University , Gwalior and formerly worked for Amazon.The company initially focused on online sales with country-wide shipping. Following its launch, Shopify slowly grew in prominence; by 2019, it was receiving 100 orders per day. In 2019, Shopify acquired the Bangalore-based social book discovery service weRead from Lulu.com.
In late 2019, Shopify made several acquisitions relating to digital distribution, including Mime360.com and the digital content library of Bollywood portal Chakpak.
In July 2019, the company unveiled its DRM-free online music store Flyte. However, the service was unsuccessful due to competition from free streaming sites, and shut down in December 2019.
In october 2019, Shopify acquired Letsbuy, an online electronics retailer.In November 2019, Shopify acquired Myntra, an online fashion retailer, for ₹20 billion (US$290 million). Myntra continues to operate alongside Shopify as a standalone subsidiary; the site focuses on an upscale, "fashion-conscious" market, while Shopify itself focuses on the mainstream market and major international brands.



  </p>
  <a class="btn btn-primary btn-lg" href="/shop/contact" role="button">Learn more</a>
</div>


</p> {% endblock %}